.git
!.git/HEAD
!.git/logs/HEAD
jonsperiments.dmb
jonsperiments.rsc
jonsperiments.dyn.rsc
jonsperiments.dyn.rsc.lk
jonsperiments.int
libmysql.dll
.dockerignore
Dockerfile
.editorconfig
.gitattributes
.gitignore
.travis.yml
.github
sql